venv/
*__pycache__*
*.pyc

trunkplayerNG/trunkplayerNG/__pycache__/*
trunkplayerNG/db.sqlite3
trunkplayerNG/trunkplayerNG/__pycache__/settings.cpython-38.pyc
trunkplayerNG/trunkplayerNG/__pycache__/settings.cpython-38.pyc
