psycopg2

django

dj-rest-auth
django-allauth
django-rest-auth

djangorestframework
djangorestframework-simplejwt
django-filter
drf-yasg
idna
inflection
itypes
Jinja2
MarkupSafe

packaging
pycparser
PyJWT
pyparsing
python3-openid
pytz
requests
requests-oauthlib
ruamel.yaml
ruamel.yaml.clib
sentry-sdk
six
sqlparse
uritemplate
urllib3
boto3

celery
django-celery
django-celery-beat
django-celery-results

django-storages

Django-rest-auth
django-cors-headers
gunicorn

gevent

python-socketio

apprise
python-json-logger
splunk_handler
graypy

coverage