asgiref
certifi
cffi
charset-normalizer
coreapi
coreschema
cryptography
defusedxml
dj-rest-auth
Django
django-allauth
django-rest-auth
djangorestframework
djangorestframework-simplejwt
django-filter
drf-yasg
idna
inflection
itypes
Jinja2
MarkupSafe
pymysql
#mysqlclient==2.1.0
oauthlib
packaging
pycparser
PyJWT
pyparsing
python3-openid
pytz
requests
requests-oauthlib
ruamel.yaml
ruamel.yaml.clib
sentry-sdk
six
sqlparse
uritemplate
urllib3
boto3
celery
django-celery
django-celery-beat
django-celery-results
django-storages
Django-rest-auth
django-cors-headers
uwsgi
zeep
gevent
gevent-websocket
python-engineio
python-socketio
kombu
apprise
django-filter
psycopg2-binary
splunk_handler
python-json-logger
graypy

coverage